<div class="banner">
	<img src="public/imagenes/banner1.jpg" alt="banner">
	<div class="banner-texto text-light">
		<h1 class="banner-texto-titulo display-3">Titulo Empresa</h1>
		<p class="banner-texto-descripcion lead display-4 text-light">Breve descripcion de nosotros</p>
		<button class="btn btn-info btn-lg mt-5" type="button" name="button">Conoce Más</button>
	</div>
</div>
