<footer class="footer text-center bg-info text-light p-2">
	<div class="container">
		<div class="row">

			<div class="col-md-6 footer-texto pt-2">
				Derechos reservados | Su empresa - 2018
			</div>

			<div class="col-md-6 footer-redes-sociales">
				<a class="icono mr-2" href="www.facebook.com"><i class="fab fa-facebook fa-2x"></i></a>
				<a class="icono mr-2" href="www.twitter.com"><i class="fab fa-twitter fa-2x"></i></a>
				<a class="icono mr-2" href="www.instagram.com"><i class="fab fa-instagram fa-2x"></i></a>
			</div>

		</div>
	</div>

</footer>
