<div class="container mt-5 mb-5">
	<div class="row modulo1">

		<div class="col-md-4 modulo1 modulo-configuracion text-center p-4">
			<img src="public/imagenes/configuracion.jpg" alt="Imagen de Configuracion">
			<p class="modulo-configuracion-texto p-2 text-justify lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>

		<div class="col-md-4 modulo1 modulo-busqueda text-center p-4">
			<img src="public/imagenes/busqueda.jpg" alt="Imagen de Busqueda">
			<p class="modulo-busqueda-texto p-2 text-justify lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>

		<div class="col-md-4 modulo1 modulo-callcenter text-center p-4">
			<img src="public/imagenes/call-center.jpg" alt="Imagen de Call Center">
			<p class="modulo-callcenter-texto p-2 text-justify lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>

	</div><!---->

	<div class="row modulo2 mt-2">

		<div class="col-md-4 modulo1 modulo-empleado text-center p-4">
			<img src="public/imagenes/empleado.jpg" alt="Imagen de Empleado">
			<p class="modulo-empleado-texto p-2 text-justify lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>

		<div class="col-md-4 modulo1 modulo-mantenimiento text-center p-4">
			<img src="public/imagenes/mantenimiento.jpg" alt="Imagen de Mantenimiento">
			<p class="modulo-mantenimiento-texto p-2 text-justify lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>

		<div class="col-md-4 modulo1 modulo-transporte text-center p-4">
			<img src="public/imagenes/transporte.jpg" alt="Imagen de Transporte">
			<p class="modulo-transporte-texto p-2 text-justify lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>

	</div>
</div>
