<div class="container mt-5 mb-4">
	<div class="galeria">
		<h2 class="text-info">Galeria</h2>

		<div class="jumbotron">

			<div class="row imagenes m-auto">

				<a data-lightbox="image-1" class="col-6 col-md-4" href="public/imagenes/galeria/gato-poo.jpg">
					<img src="public/imagenes/galeria/gato-poo-thumbnail.jpg" alt="Foto de Gato Poo">
				</a>

				<a data-lightbox="image-1" class="col-6 col-md-4" href="public/imagenes/galeria/gatos.jpg">
					<img src="public/imagenes/galeria/gatos-thumbnail.jpg" alt="Foto de Gato Poo">
				</a>

				<a data-lightbox="image-1" class="col-6 col-md-4" href="public/imagenes/galeria/koala.jpg">
					<img src="public/imagenes/galeria/koala-thumbnail.jpg" alt="Foto de Gato Poo">
				</a>

				<!--segundo row-->
				<a data-lightbox="image-1" class="col-6 col-md-4 mt-2" href="public/imagenes/galeria/leon.jpg">
					<img src="public/imagenes/galeria/leon-thumbnail.jpg" alt="Foto de Gato Poo">
				</a>

				<a data-lightbox="image-1" class="col-6 col-md-4 mt-2" href="public/imagenes/galeria/pandas.jpg">
					<img src="public/imagenes/galeria/pandas-thumbnail.jpg" alt="Foto de Gato Poo">
				</a>

				<a data-lightbox="image-1" class="col-6 col-md-4 mt-2" href="public/imagenes/galeria/parrot.jpg">
					<img src="public/imagenes/galeria/parrot-thumbnail.jpg" alt="Foto de Gato Poo">
				</a>

				<!--tercer row-->
				<a data-lightbox="image-1" class="col-6 col-md-4 mt-2" href="public/imagenes/galeria/teacup-pig.jpg">
					<img src="public/imagenes/galeria/teacup-pig-thumbnail.jpg" alt="Foto de Gato Poo">
				</a>

				<a data-lightbox="image-1" class="col-6 col-md-4 mt-2" href="public/imagenes/galeria/tigre.jpg">
					<img src="public/imagenes/galeria/tigre-thumbnail.jpg" alt="Foto de Gato Poo">
				</a>

				<a data-lightbox="image-1" class="col-6 col-md-4 mt-2" href="public/imagenes/galeria/zorros.jpg">
					<img src="public/imagenes/galeria/zorros-thumbnail.jpg" alt="Foto de Gato Poo">
				</a>

			</div>

		</div>

	</div>

</div>
