<div class="container">

	<div class="servicios mt-5 mb-5">

		<h2 class="text-info mb-4">Servicios</h2>

		<div class="call-center mt-3">

			<div class="row servicio">
				<img class="col-md-6" src="public/imagenes/servicio-al-cliente.jpg" alt="Empresa Servicio al Cliente">

				<div class="col-md-6 m-auto text-primary">
					<h3>Call Center</h3>
					<p class="lead text-justify">Ofrecemos el mejor servicio de call-center por medio de nuestros especialistas en servicio al clinete remoto. Contamos con personal altamente entrenado para manejar cualquier inconveniente que se presente, y garantizarle la mejor calidad humana posible. No dude en comunicarse con nosotros al telefonon 01 8000 500 500</p>
				</div>

			</div>

			<div class="row servicio">

				<div class="col-md-6 m-auto text-primary">
					<h3>Transporte</h3>
					<p class="lead text-justify">Ofrecemos el mejor servicio de call-center por medio de nuestros especialistas en servicio al clinete remoto. Contamos con personal altamente entrenado para manejar cualquier inconveniente que se presente, y garantizarle la mejor calidad humana posible. No dude en comunicarse con nosotros al telefonon 01 8000 500 500</p>
				</div>

				<img class="col-md-6" src="public/imagenes/transporte-servicios.jpg" alt="Empresa Servicio al Cliente">
			</div>

			<div class="row servicio">
				<img class="col-md-6" src="public/imagenes/mantenimiento-servicios.jpg" alt="Empresa Servicio al Cliente">

				<div class="col-md-6 m-auto text-primary">
					<h3>Mantenimiento</h3>
					<p class="lead text-justify">Ofrecemos el mejor servicio de call-center por medio de nuestros especialistas en servicio al clinete remoto. Contamos con personal altamente entrenado para manejar cualquier inconveniente que se presente, y garantizarle la mejor calidad humana posible. No dude en comunicarse con nosotros al telefonon 01 8000 500 500</p>
				</div>

			</div>

			<div class="row servicio">

				<div class="col-md-6 m-auto text-primary">
					<h3>Atencion Personalizada</h3>
					<p class="lead text-justify">Ofrecemos el mejor servicio de call-center por medio de nuestros especialistas en servicio al clinete remoto. Contamos con personal altamente entrenado para manejar cualquier inconveniente que se presente, y garantizarle la mejor calidad humana posible. No dude en comunicarse con nosotros al telefonon 01 8000 500 500</p>
				</div>

				<img class="col-md-6" src="public/imagenes/atencion-personalizada-servicios.jpg" alt="Empresa Servicio al Cliente">
			</div>

		</div>

	</div><!---Fin Servicios-->

	<div class="linea-de-atencion mt-5 mb-5 pt-3 pb-3">

			<p class="text-info text-center m-auto w-50 h3">Para más información, recuerde que siempre puedes contartarnos al 01800050101</p>

	</div>

</div><!--Fin container-->
